




<h2>First Controller</h2>

<div>
    @Html.ActionLink("First Method", "controllerOneFirstMethod","First", null, new{@class="btn btn-primary"})
</div>
<br />
<div>
    @Html.ActionLink("Second Method", "controllerOneSecondMethod", "First", null, new{@class="btn btn-primary"})
</div>
