
<h2>Second Controller</h2>

<div>
    @Html.ActionLink("First Method", "secondControllerFirstMethod","Second", null, new{@class="btn btn-primary"})
</div>
<br />
<div>
    @Html.ActionLink("Second Method", "secondControllerSecondMethod", "Second", null, new{@class="btn btn-primary"})
</div>
